body {
    padding: 40px;
}

.movies {
    column-count: 3;
}

img {
    width: 100%;
}

.loader {
    display: none;
}

.movie-item {
    width: 100%;
    position: relative;
}

.movie-item img {
    pointer-events: none;
}

.movie-item h2 {
    pointer-events: none;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}